<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

<!-- FontAwesome -->
<script src="{{ url_for('static', filename='js/font-awesome.min.js') }}"></script>

<!-- Swiper Slider -->
<script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>

<!-- MixItUp (Filter) -->
<script src="{{ url_for('static', filename='js/jquery.mixitup.min.js') }}"></script>

<!-- FancyBox -->
<script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>

<!-- Parallax -->
<script src="{{ url_for('static', filename='js/parallax.min.js') }}"></script>

<!-- GSAP -->
<script src="{{ url_for('static', filename='js/gsap.min.js') }}"></script>

<!-- Scroll Trigger -->
<script src="{{ url_for('static', filename='js/ScrollTrigger.min.js') }}"></script>
<!-- Scroll To Plugin -->
<script src="{{ url_for('static', filename='js/ScrollToPlugin.min.js') }}"></script>

<!-- Smooth Scroll -->
<script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>


<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
